<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>

<div class="container">
  <h2>Usuarios</h2>
  <form class="navbar-form" action="/user/list">         
  	<div class="form-group">             
  	<input name="searchText" type="text" class="form-control" size="50"                 
  	placeholder="Buscar por email o nombre"/>         
  	</div>         
  	<button type="submit" class="btn btn-default">Buscar</button>  
  </form> 
  <p>Los usuarios de la aplicación son los siguientes:</p>                                                                                      
  <div class="table-responsive">          
  <table class="table table-hover" th:fragment="tableUsers" id="tableUsers">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
		<th class="col-md-1"> </th>
		<th class="col-md-1"> </th>
		<th class="col-md-1"> </th>
		<th class="col-md-1"> </th>
      </tr>
    </thead>
	<tbody>
	    
	    <div>
	    	
	    <tr th:each="userDestination : ${usersDestinationsList}">
	    		
	    		<td th:text="${userDestination.name}"> Carlos</td>
	    		<td th:text="${userDestination.email}">c@hotmail.com</td>
	    		<td>
	    		
	    		<button type="button" th:id="${'cancelPetitionButton' + userDestination.id}"
 				class="btn btn-default">Cancelar petición</button>
 				<script th:inline="javascript">
 				/*<![CDATA[*/
 		 		$( "#cancelPetitionButton[[${userDestination.id}]]" ).click(function() {
 		 		$.get( "/user/[[${userDestination.id}]]/cancelPetition", function( data ) {
 		 		var numberPage = [[${param.page}]];
 		 		var urlUpdate = '/user/list/update';
 		 		if ( numberPage != null ){
 		 		urlUpdate += "?page="+numberPage[0];
 		 		}
 		 		$("#tableUsers").load(urlUpdate);
 	
 		 		});
 		 		});
 		 		/*]]>*/
 				</script> 
 				
 				</td>
	    		
	    </tr>
	    
	    <tr th:each="userNoDestination : ${usersNoDestinationsList}">
	    <td th:text="${userNoDestination.name}"> Carlos</td>
	    <td th:text="${userNoDestination.email}">c@hotmail.com</td>
	    <td>
	    
	    	<button type="button" th:id="${'sendPetitionButton' + userNoDestination.id}"
 				class="btn btn-info">Agregar amigo</button>
 				<script th:inline="javascript">
 				/*<![CDATA[*/
 		 		$("#sendPetitionButton[[${userNoDestination.id}]]" ).click(function() {
 		 		$.get( "/user/[[${userNoDestination.id}]]/sendPetition", function( data ) {
 		 		var numberPage = [[${param.page}]];
 				 var urlUpdate = '/user/list/update';
 		 		if ( numberPage != null ){
 		 		urlUpdate += "?page="+numberPage[0];
 		 		}
 				$("#tableUsers").load(urlUpdate);
 		 		});
 		 		});
 		 		/*]]>*/
 				</script> 
	    
	    </td>
	    
	    </tr>
	    
	    </div>

	</tbody>
  </table>
  </div>
   <footer th:replace="fragments/pagination"/>
</div>

<footer th:replace="fragments/footer"/>
</body>
</html>